<% include ./partials/head %>
<% include ./partials/header %>

<form class="" action="/create" method="post" id="gabform">
  <div class="form-group">
      Create a New Gab:
      <br>
      <button class="btn btn-primary" type="submit" name="" value="Create">Save Gab</button>
  </div>
</form>

<textarea name="gab" form="gabform">Enter text here...</textarea>

<% include ./partials/footer %>
<% include ./partials/foot %>
