<% include ./partials/head %>
<% include ./partials/header %>

<% if( locals.messages ) { %>
  <ul>
  <% messages.forEach( (message) => { %>
    <ul>
      <li> <%= message.dataValues.body %> </li>
      <li> <%= message.dataValues.createdAt %> </li>
      <li> <%= message.dataValues.author.display_name %> </li>
    </ul>
  <% }) %>
  </ul>
<% } %>

<% include ./partials/footer %>
<% include ./partials/foot %>
